.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .4px .4px;
}
.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #4f937a, #6e2731);
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.center {
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}
.textfield{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-border-width:.8px;
    -fx-border-radius:.4px;
    -fx-font-family:"Tahoma";
}

.textfield:focused{
    -fx-border-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-border-width:1.8px;

}

.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-border-width:1px;
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Tahoma";
    -fx-padding:0px 0px 0px 28px;
}

.search:focused{
    -fx_border-width:2px;
}

.table-view{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-border-width:2px;
    -fx-border-radius:8px;
}

.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-background-inset: 0 0 0 0;
    -fx-background-radius:8px 8px 0px 0px;

}

.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}

.table-view .column-header, .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}

.add-btn{
    -fx-background-color:#3b5e75;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}

.add-btn:hover{
    -fx-background-color:#38769d;
}

.update-btn{
    -fx-background-color:#3f7864;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}

.update-btn:hover{
    -fx-background-color:#3fa47f;
}


.delete-btn{
    -fx-background-color:#822d47;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}

.delete-btn:hover{
    -fx-background-color:#a7264f;
}


#minimize{
}

#close{
}

